@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

:root {
  --primary-base: #fcfcfc;
  --primary-bg-subtle: #f8f8f8;
  --primary-bg: #f3f3f3;
  --primary-bg-hover: #ededed;
  --primary-bg-active: #e8e8e8;
  --primary-line: #e2e2e2;
  --primary-border: #dbdbdb;
  --primary-border-hover: #c7c7c7;
  --primary-solid: #8f8f8f;
  --primary-solid-hover: #858585;
  --primary-text: #6f6f6f;
  --primary-text-contrast: #171717;
}

.dark {
  --primary-base: #161616;
  --primary-bg-subtle: #1c1c1c;
  --primary-bg: #232323;
  --primary-bg-hover: #282828;
  --primary-bg-active: #2e2e2e;
  --primary-line: #343434;
  --primary-border: #3e3e3e;
  --primary-border-hover: #505050;
  --primary-solid: #707070;
  --primary-solid-hover: #7e7e7e;
  --primary-text: #a0a0a0;
  --primary-text-contrast: #ededed;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  /* background: #bbbbbb; */
  @apply bg-primary-border;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
